

<div class="row" style="padding-right: 38px;">
  <div [class]="formlist?.length?'col-md-6':'col-md-12'">
    <mat-card class="card">
      <i [routerLink]="['../']" class="fas fa-arrow-left mt-3 ml-2"></i> 
      <h1 class="text-center text-success">{{title}}</h1>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="formSubmit(form.valid,form.value)">
          <ng-container *ngFor="let field of drugSchema.fields">
            <mat-form-field appearance="outline" class="d-block">
              <mat-label>{{ field.label }}</mat-label>
              <ng-container [ngSwitch]="field.type">
                <input *ngSwitchCase="'date'" matInput [formControlName]="field.key" [type]="'date'">
                <select *ngSwitchCase="'dropdown'" matNativeControl [formControlName]="field.key">
                  <option *ngFor="let item of field.items" [value]="item.value">{{ item.text }}</option>
                </select>
                <input *ngSwitchCase="'number'" matInput [formControlName]="field.key" [type]="'number'" [readonly]="field.key === 'bmi'?true:false">
                <!-- Optionally, add a suffix for the unit -->
                <span *ngIf="field.unit">{{ field.unit }}</span>
              </ng-container>
            </mat-form-field>
          </ng-container>
          <div class="row">
            <div class="col-md-12 text-center">
              <button [disabled]="" type="submit" mat-raised-button color="primary">Submit</button>
            </div>
          </div> 
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="formlist?.length" class="col-md-6 mt-3">

    <table class="table table-hover table-dark">
      <thead *ngIf="schemaType === 'drug_one'">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Age</th>
          <th scope="col">Sex</th>
          <th scope="col">Height</th>
          <th scope="col">Weight</th>
          <th scope="col">BMI</th>
        </tr>
      </thead>
      <thead *ngIf="schemaType === 'drug_two'">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Sex</th>
          <th scope="col">Weight</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of formlist">
          <tr>
            <ng-container *ngIf="schemaType === 'drug_one'">
              <td>{{ data.birthday }}</td>
              <td>{{ data.gestationalAge }} weeks</td>
              <td>{{ data.sex }}</td>
              <td>{{ data.height }} cm</td>
              <td>{{ data.weight }} kg</td>
              <td>{{ data.bmi }}</td>
            </ng-container>
            <ng-container *ngIf="schemaType === 'drug_two'">
              <td>{{ data.birthday }}</td>
              <td>{{ data.sex }}</td>
              <td>{{ data.weight }} kg</td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>