

::ng-deep .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
    margin-left: 1px;
    margin-right: 0px;
    content: "*";
    color: red;
}

.card{
    width: 50% !important;
    margin:3% 0% 0% 23% !important;
    background-color: rgb(244, 243, 243);
}

@media (min-width: 992px) and (max-width: 1400px) {
    .card{
        width: 50% !important;
        margin:3% 0% 0% 23% !important;
    }
}

@media (min-width: 786px) and (max-width: 991px) {
    .card{
        width: 100% !important;
        margin:0% !important;
    }
}
@media (min-width: 480px) and (max-width: 785px) {
    .card{
        width: 100% !important;
        margin:0% !important;
    }
}
@media (min-width: 320px) and (max-width: 479px) {
    .card{
        width: 100% !important;
        margin:0% !important;
    }
}
@media (min-width: 240px) and (max-width: 319px) {
    .card{
        width: 100% !important;
        margin:0% !important;
    }
}